%h3.text-center.mb-4 
  = t('.forgot_your_password')
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  -# = bootstrap_devise_error_messages!
  .form-group.mb-4
    = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control ', placeholder: 'Please enter your Email Address'
  .form-group
    = f.submit 'Send me reset password instructions', class: 'btn btn-sm btn-dark btn-block'
