/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
    min-height: 100vh;
    max-width: 100vw;
}

#cover {
    background: #222 url('https://unsplash.it/1920/1080/?random') center center no-repeat;
    background-size: cover;
  }
  
#cover-capture {
    border-radius: 10px;
    padding: 30px;
    background: white;
    border: 1px solid #ced4da;
    }

.sidebar {
    background: #F5F6FA;
}

.border-bottom {
    border-bottom: 2px solid rgba(245,246,250,.85)!important;
}

.main {
    box-sizing: border-box; 

    .search {
        padding: 20px 10px;
        box-sizing:border-box;
    }
}

.sub-list {
    list-style: none;
    font-size: 14px;
    
}

.navigation {
    padding-top: 100px;
    border-right: 1px solid rgba(0,0,0,.1);
    position: fixed;
    z-index: 1;
    width: 180px;

    height:100%
    // display:flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

.main {
    margin-left: 250px;
}

.user_inputs {
    padding-top: 100px; 
}

.highlight {
    background-color: #f7f7f9;
    padding:10px 20px;
    margin: 10px 0;
}